// benutzt für links
$farbe1: #EA001F;

// varianten werden automatisch berechnet
$farbe1-dunkler: darken($farbe1, 10%); // links hover
$farbe1-heller: lighten($farbe1, 15%); // links menu smartphone hover
