$farbe1: darken(#8acfec, 30%); // links, seitentitel @smallscreen
$farbe2: #bf6598; // überschriften

// programm
$veranstaltung: darken(#8acfec, 10%);
$offenesAngebot: darken(#fced4f, 10%);
$workshop: darken(#fffca5, 10%);


// varianten werden automatisch berechnet - prozentzahlen bei bedarf anpassen
$farbe1-dunkler: darken($farbe1, 10%); // links hover
$farbe1-heller: lighten($farbe1, 10%); // links menu smartphone hover
$farbe1-nochheller: lighten($farbe1, 20%); // tickets formular
$farbe1-schwach: lighten($farbe1, 30%); // tickets formular

// varianten programm
$veranstaltung-dunkler: darken($veranstaltung, 20%);
$offenesAngebot-dunkler: darken($offenesAngebot, 10%);
$workshop-dunkler: #fca05d;

$veranstaltung-heller: lighten($veranstaltung, 10%);
$offenesAngebot-heller: lighten($offenesAngebot, 20%);
$workshop-heller: lighten($workshop, 10%);
