@import "./farben.scss";


.programm {

  button { cursor: pointer; }

  .legende {
    font-size: 90%;
    line-height: 2.5em;
    button {
      float: none;
      position: inherit;
      top: 0;
      padding: 4px;
      white-space: nowrap;
      font-family: inherit;
      font-size: 90%;
      &.veranstaltung { border: 1px solid $veranstaltung; background-color: white; }
      &.veranstaltung.active { background-color: $veranstaltung; }
      &.workshop { border: 1px solid $workshop; background-color: white;  }
      &.workshop.active { background-color: $workshop; }
      &.offenesangebot { border: 1px solid $offenesAngebot; background-color: white;  }
      &.offenesangebot.active { background-color: $offenesAngebot; }
    }
  }

  .veranstaltung { background-color: $veranstaltung; }
  .workshop { background-color: $workshop; }
  .offenesangebot { background-color: $offenesAngebot; }

  .textfilter {
    font-size: 90%;
    margin: 10px 0;
    input {
      font-family: inherit;
      height: 20px;
      width: 200px;
      color: #333;
      border-radius: 0;
      -webkit-appearance: none;
      padding: 3px;
      border: 1px solid #999;

      &:focus {
        outline-color: $farbe1-nochheller;
      }
    }
  }

  ul li {
    list-style: none;
    margin-bottom: 2px;
  }

  .zeit {
    font-size: 120%;
    width: 120px;
    padding-left: 6px ;
    height: 100%;

    .minuten {
      vertical-align: super;
      font-size: 70%;
    }

    float: left;
  }

  button {
    padding-right: 5px;
    float: left;
    position: relative;
    top: 4px;
  }
  .ausfahr-button {
    height: 20px;
    display: inline;
  }

  .infos {
    margin-left: 120px;
    padding-left: 10px;
    background-color: white;
  }

  .details {
    overflow: hidden;
    font-size: 90%;
  }

  .titel {
    font-size: 100%;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1.3em;
    margin-left: 28px;
    color: #333;
    cursor: pointer;
  }

  .untertitel {
    font-weight: normal;
    font-size: 90%;
    margin-left: 5px;
    color: #000;

    &::before {
      content: ' ';
    }
  }

  .ort {
    float: right;
    padding-left: 20px;
    font-size: 90%;
    min-height: 25px;
    font-weight: bold;
    padding-top: 6px;
    line-height: 1.3em;
  }

  .veranstaltung .ort { color: $veranstaltung-dunkler; }
  .workshop .ort { color: $workshop-dunkler; }
  .offenesangebot .ort { color: $offenesAngebot-dunkler; }

  .bild {
    float: right;
    padding-left: 20px;
    margin-top: 24px;
    max-width: 300px;
    width: 50%;
  }

  .sponsoring {
    margin-top: 20px;
    font-size: 90%;
    img {
      max-height: 30px;
      margin-left: 10px;
    }
  }

  .beschreibung {
    font-size: 90%;
    line-height: 1.5em;
    margin: 20px 0;
    p { margin-top: 12px; }
  }

  .alter,
  .beginn,
  .preis,
  .ausverkauft {
    font-size: 90%;
  }

  .ausverkauft a {
    font-weight: 700;
  }

  .veranstaltung strong.farbig { color: $veranstaltung-dunkler; }
  .workshop strong.farbig { color: $workshop-dunkler; }
  .offenesangebot strong.farbig { color: $offenesAngebot-dunkler; }

  .veranstaltung a {
    border-color: $veranstaltung-dunkler;
    &:active, &:focus, &:hover { color: $veranstaltung-dunkler; }
  }
  .workshop a {
    border-color: $workshop-dunkler;
    &:active, &:focus, &:hover { color: $workshop-dunkler; }
  }
  .offenesangebot a {
    border-color: $offenesAngebot-dunkler;
    &:active, &:focus, &:hover { color: $offenesAngebot-dunkler; }
  }
}




@media only screen and (max-width: 600px) {
  .programm {

    ul li {
      border: 0;
      margin-bottom: 20px;
    }

    ul li.veranstaltung {
      border: 1px solid $veranstaltung;
      background-color: white;
      .zeit {background-color: $veranstaltung-heller;}
    }
    ul li.workshop {
      border: 1px solid $workshop;
      background-color: white;
      .zeit {background-color: $workshop-heller;}
    }
    ul li.offenesangebot {
      border: 1px solid $offenesAngebot;
      background-color: white;
      .zeit {background-color: $offenesAngebot-heller;}
    }

    .zeit {
      width: 100px;
      padding-bottom: 2px;
    }

    .titel {
      padding-bottom: 2px;
    }

    .bild {
      max-width: none;
      width: 100%;
      padding-bottom: 20px;
    }

    .infos {
      margin-left: 0px;
      background-color: white;
      padding: 2px 6px 6px;
    }

    .ort {
      float: none;
      margin-left: 106px;
      padding-right: 10px;
      padding-top: 8px;
      padding-bottom: 4px;
      background-color: white;
      line-height: 1.3em;
    }

    button {
      position: relative;
      top: 3px;
    }

  }
}
