# lein
/*.log
/target
/*-init.clj
/resources/public/js/compiled
out
/.lein-*
/.nrepl-port
/out
/.repl
*.log
/.env

# intellij
/.idea
*.iml

# js / npm
/node_modules
package-lock.json

# shadow-cljs
/.shadow-cljs

# project
/public/js/**/*