/*.log
/target
/*-init.clj
/resources/public/js/compiled
out

/.idea
/.lein-*
/.nrepl-port
/resources/public/js
/public/js/**/*
+
!/public/js/codemirror-5.37.0/**/*
/out
/.repl
*.log
/.env

*.iml
/node_modules
package-lock.json
/.shadow-cljs